<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hollysys.smartfactory.authority.system.dao.mapper.AuthenticationMapper">
    <!--按账号查询用户信息 -->
    <select id="getUser" resultType="com.hollysys.smartfactory.authentication.model.User" parameterType="String">
        SELECT
            u.pkid AS ID,
            u.user_name AS username,
            u.account,
            u.password_hash AS password
        FROM
            m_sysuser u
        WHERE
            u.account = #{account}
    </select>
    <!--按用户查询拥有的资源权限 -->
    <select id="getPermissionByUser" resultType="String" parameterType="String">
        SELECT
            res.res_code
        FROM
            m_sysresource res
        LEFT JOIN m_sysauthority auth ON auth.res_pkid = res.pkid
        WHERE
            auth.roleuser_pkid IN (
                SELECT
                    role_pkid
                FROM
                    m_sysroleuser_rep ru
                LEFT JOIN m_sysuser us ON us.pkid = ru.user_pkid
                WHERE
                    us.account = #{account}
            )
        OR auth.roleuser_pkid = (
            SELECT
                pkid
            FROM
                m_sysuser
            WHERE
                account = #{account}
        )
    </select>
    <!--按用户查询用户拥有的角色 -->
    <select id="getRoleByUser" resultType="String" parameterType="String">
        SELECT
            r.role_name as  roleName
        FROM
            m_sysroleuser_rep ru
        LEFT JOIN m_sysrole r ON r.pkid = ru.role_pkid
        WHERE
            ru.user_pkid = (select pkid from m_sysuser where account = #{account})
        ORDER BY r.role_name
    </select>
</mapper>