<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.system.dao.mapper.TestMapper">

    <resultMap id="getTest" type="com.example.demo.system.model.po.TestPo">
        <result column="id" property="id"></result>
        <result column="plan_no" property="planNo"></result>
        <result column="end_time" property="endTime"></result>
        <result column="stat_time" property="statTime"></result>
        <result column="create_time" property="createTime"></result>
        <result column="doc" property="doc"></result>
        <result column="url" property="url"></result>
    </resultMap>


    <insert id="insertTest">
        insert into ceshi (id,plan_no,end_time,stat_time,create_time) values (
            #{list.id},
		    #{list.planNo},
		    str_to_date(#{list.endTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s'),
		    str_to_date(#{list.statTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s'),
		    str_to_date(#{list.createTime,jdbcType=VARCHAR},'%Y-%m-%d'))
    </insert>

<!--    批量插入-->
    <insert id="insertTestAll">
        insert into ceshi (id,plan_no,end_time,stat_time,create_time) values
         <foreach collection="list" item="item" separator="," open="(" close=")" index="">
            #{item.id},
		    #{item.planNo},
		    str_to_date(#{item.endTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s'),
		    str_to_date(#{item.statTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s'),
		    str_to_date(#{item.createTime,jdbcType=VARCHAR},'%Y-%m-%d')
    </foreach>
    </insert>

    <update id="updataTest" parameterType="map">
        update ceshi set
           stat_time = str_to_date(#{list.statTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s'),
            end_time = str_to_date(#{list.endTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s'),
            create_time = str_to_date(#{list.createTime,jdbcType=VARCHAR},'%Y-%m-%d')
            where plan_no = #{list.planNo}
    </update>
    <update id="updataTestDoc">
        update ceshi set
        doc = #{filename},
        url = #{url}
        where plan_no = #{planNo}
    </update>
    <delete id="deleteById" parameterType="string">
        delete from ceshi
        where plan_no = #{planNo}
    </delete>


    <select id="findAll" resultMap="getTest" parameterType="map">
            select
             id,
             plan_no,
             DATE_FORMAT(end_time,'%Y-%m-%d %H:%i:%s') end_time,
             DATE_FORMAT(stat_time,'%Y-%m-%d %H:%i:%s') stat_time,
             DATE_FORMAT(create_time,'%Y-%m-%d') create_time,
             doc,
             url
            from ceshi
            where 1 = 1
                <choose>
                <when test="endTime != null and endTime!= '' and statTime != null and statTime!= ''">
                    and (stat_time <![CDATA[ <= ]]> DATE_FORMAT(#{endTime},'%Y-%m-%d %H:%i:%s') and end_time <![CDATA[ >= ]]> DATE_FORMAT(#{statTime},'%Y-%m-%d %H:%i:%s'))
                </when>
                <when test="statTime != null and statTime!= ''">
                    and end_time <![CDATA[ >= ]]> DATE_FORMAT(#{statTime},'yyyy-MM-dd')
                </when>
                <when test="endDate != null and endDate != ''">
                    and stat_time <![CDATA[ <= ]]> DATE_FORMAT(#{endTime}, 'yyyy-MM-dd')
                </when>
                </choose>
                <if test="planNo != null and planNo != '' ">
                    and plan_no=#{planNo}
                </if>
                <if test="createTime != null and createTime!= '' ">
                    and create_time = DATE_FORMAT(#{createTime,jdbcType=VARCHAR},'%Y-%m-%d')
                </if>
            order by create_time desc

    </select>
    <select id="getById" resultMap="getTest" parameterType="map">
            select
            id,
            plan_no,
            DATE_FORMAT(end_time,'%Y-%m-%d-%T') end_time,
            DATE_FORMAT(stat_time,'%Y-%m-%d-%T') stat_time,
            DATE_FORMAT(create_time,'%Y-%m-%d') create_time,
            doc,
            url
             from ceshi where plan_no = #{planNo}
    </select>
    <select id="getByIdMonth" resultMap="getTest" parameterType="map">
         select
            id,
            plan_no,
            DATE_FORMAT(end_time,'%Y-%m-%d %H:%i:%s') end_time,
            DATE_FORMAT(stat_time,'%Y-%m-%d %H:%i:%s') stat_time,
            DATE_FORMAT(create_time,'%Y-%m-%d') create_time,
            doc,
            url
        from ceshi
        <where>
        <if test="planNo != null and planNo != '' ">
            and plan_no=#{planNo}
        </if>
        <if test="endTime != null and endTime!= '' and statTime != null and statTime!= ''">
            and (stat_time <![CDATA[ <= ]]> DATE_FORMAT(#{endTime},'%Y-%m-%d %H:%i:%s') and end_time <![CDATA[ >= ]]> DATE_FORMAT(#{statTime},'%Y-%m-%d %H:%i:%s'))
        </if>
        </where>
    </select>
</mapper>